body {
	background-color: rgb(64, 72, 86));
	background-image: url('https://openclipart.org/image/2400px/svg_to_png/227673/Hearts-Background.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.jumbotron {
	padding-left: 50px;
	padding-top:0px;
}

#mydiv {
    position:absolute;
    top: 40%;
    left: 50%;
    width:30em;
    height:25em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}